body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

.mynavbar {
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100%;
    height: 25px;
}

.mynavbar ul{
    padding: 2px 0 2px 0;
    text-align: center;
    list-style-type: none;
}

.mynavbar ul li{
    padding: 2px 0 2px 0;
    text-align: center;
    list-style-type: none;
    font-size: 14px;
}


a {
  color: #00B7FF;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.main-rotator{
    width: 275px;
}

#main-rotator-heading{
    color: white;
    text-align: center;
    padding: 5px;
    border: 3px solid #5cb85c;
/*    background-color: #5cb85c;*/
    border-radius: 8px;
}

.mini-rotator-btn.active, #mini-rotator-btn.btn:active{
    background-color: #5cb85c;
    color: white;
    border-color: #26BBA6;
}

.hidden {
/*    display: none;*/
    visibility: hidden;
}

#heading-wrap{
    padding-left: 39px;
}

#mini-rotators{
    border-top: 5px solid white;
    margin: 5px 0 15px 0;
    padding-top: 15px;
    width: 275px;
}

.mini-rotator{
    width: 80px;
    height: 105px;
    float: left;
    margin: 5px 5px 5px 5px;
}

.mini-rotator-btn{
    color: white;
    text-align: center;
    margin-bottom: 5px;
    width: 80px;
}

.mini-rotator-canvas{
    text-align: center;
}

.msg{
    border-radius: 0px;
    margin: 10px 0 0 0;
}

.messages{
    width: 100%;
    left: 0px;
    position: fixed;
    bottom: 0px;
}

.modal-input{
    width: 100%;
    padding: 5px;
}

.settings-input{
    margin-bottom: 15px;
}

.mynavbar .settings{
    cursor: pointer;
}

body {
    padding-top: 50px;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  
  #connection{
      bottom: 0px;
    left: 0px;
      position: fixed;
      width: 100%;
    height: 40px;
      /*z-index: 20000000;*/
  }
  
  #connection p{
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
  }