@font-face {
    font-family: 'Inconsolata';
    src: url('/static/fonts/Inconsolata-Regular.ttf') format('truetype');
}

body {
    padding-top: 20px;
    font: 18px "Inconsolata", monospaced;
    background-color: black;
}

#loading{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
}

#loading .spinner{
    color: white;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-left: -64px;
    margin-top: -70px;
    font-size: 128px;
}

#loading p{
    color: white;
    font-size: 22px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -128px;
    margin-top: 100px;
    
}

#app {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.main-rotator {
    display: inline-block;
    min-width: 220px;
    vertical-align: top;
}

.rotator-name {
    color: white;
    text-align: center;
    border: 3px solid #5cb85c;
    border-radius: 8px;
}

.rotator-name .tag {
    margin: 0; 
    padding: 5px;
    padding-right: 10px;
    background-color: #5cb85c;
    height: 100%;
    float: left;
    vertical-align: top;
}

.rotator-name .name {
    padding: 5px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 80%; to be improved */
    white-space: nowrap;
}

.rotator-canvas {
    width: inherit;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.mini-rotators ul {
    list-style-type: none;
    padding-left: 0;
}

.mini-rotator-btn{
    font-size: 18px;
}

.mini-rotator-btn.active,
.mini-rotator-btn.btn:active {
    background-color: #5cb85c;
    color: white;
    border-color: #3C753C;
    outline:none !important;
}

.hidden {
    /*    display: none;*/
    visibility: hidden;
}

.mini-rotators {
    border-top: 5px solid white;
    margin: 5px 0 15px 0;
    padding-top: 15px;
    /* display: inline-block; */
    /* width: inherit; */
    /* min-width: 220px; */
}

.mini-rotator {
    float: left;
    margin: 5px 5px 5px 5px;
}

.mini-rotator-btn {
    color: white;
    text-align: center;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 110px;
}

.mini-rotator-canvas {
    text-align: center;
}

.msg {
    border-radius: 0px;
    margin: 10px 0 0 0;
}

.messages {
    width: 100%;
    left: 0px;
    position: fixed;
    bottom: 0px;
}

#connection {
    bottom: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 40px;
    /*z-index: 20000000;*/
}

#connection p {
    height: inherit;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}