<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RemoteRotator WebUI</title>
  <link rel="css?family=Inconsolata">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div id="app">
    <div id="loading" v-bind:class="{'hidden': loading}">
      <i class="fa fa-spinner fa-spin spinner" aria-hidden="true"></i>
      <p> Searching for rotators...</p>
    </div>
    <div class="main-rotator" v-if="Object.keys(sortedAzRotators).length > 0">
      <div id="azimuth-rotator">
        <rotator-name :name="selectedAzRotator.name" :is-azimuth="true" :width="canvasSize"></rotator-name>
        <azimuth-rotator v-on:set-azimuth="setAzimuth" :name="selectedAzRotator.name" :heading="selectedAzRotator.heading.azimuth" :preset="selectedAzRotator.heading.az_preset"
          :overlap="selectedAzRotator.config.azimuth_overlap" :min="selectedAzRotator.config.azimuth_min" :max="selectedAzRotator.config.azimuth_max" :stop="selectedAzRotator.config.azimuth_stop"
          :canvas-size="canvasSize">
        </azimuth-rotator>
        <div class="mini-rotators" v-if="Object.keys(sortedAzRotators).length > 1">
          <ul>
            <li v-for="rotator in sortedAzRotators">
              <div class="mini-rotator">
                <button type='button' class='btn btn-primary btn-sm mini-rotator-btn' v-bind:class="{active : selectedAzRotator.name == rotator.name }"
                  v-on:click="setAzRotator(rotator.name) ">{{rotator.name}}</button>
                <div class='mini-rotator-canvas'>
                  <azimuth-rotator :name="rotator.name" :heading="rotator.heading.azimuth" :preset="rotator.heading.az_preset" v-on:set-azimuth="setAzimuth"
                    :overlap="rotator.config.az_overlap" :min="rotator.config.az_min" :max="rotator.config.az_max" :stop="rotator.config.az_stop" :canvas-size=100></azimuth-rotator>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-rotator" v-if="Object.keys(sortedElRotators).length > 0">
      <div id="elevation-rotator">
        <rotator-name :name="selectedElRotator.name" :width="canvasSize"></rotator-name>
        <elevation-rotator v-on:set-elevation="setElevation" :name="selectedElRotator.name" :heading="selectedElRotator.heading.elevation"
          :preset="selectedElRotator.heading.el_preset" :min="selectedElRotator.config.elevation_min" :max="selectedElRotator.config.elevation_max" :canvas-size="canvasSize">
        </elevation-rotator>
        <div class="mini-rotators" v-if="Object.keys(sortedElRotators).length > 1">
          <ul>
            <li v-for="rotator in sortedElRotators">
              <div class="mini-rotator">
                <button type='button' class='btn btn-primary btn-sm mini-rotator-btn' v-bind:class="{active : selectedElRotator.name == rotator.name }"
                  v-on:click="setElRotator(rotator.name) ">{{rotator.name}}</button>
                <div class='mini-rotator-canvas'>
                  <elevation-rotator :name="rotator.name" :heading="rotator.heading.elevation" :preset="rotator.heading.el_preset" v-on:set-elevation="setElevation"
                    :min="rotator.config.elevation_min" :max="rotator.config.elevation_max" :canvas-size=100></elevation-rotator>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="connection">
      <p id="connected" class="bg-success" v-bind:class="{'hidden': hideConnectionMsg}" v-if="connected">
        <i class="fa fa-check"></i> Connected to Server
      </p>
      <p id="no-connection" class="bg-danger" v-else="connected">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Connecting to Server
      </p>
    </div>
  </div>
  <script src="/static/js/vue.js"></script>
  <script src="/static/js/vue-resource-1.3.4.min.js"></script>
  <script src="/static/js/components/rotator-name.js"></script>
  <script src="/static/js/components/azimuth-rotator.js"></script>
  <script src="/static/js/components/elevation-rotator.js"></script>
  <script src="/static/js/jquery-2.2.3.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/reconnecting-websocket.js"></script>
  <script src="/static/js/app.js"></script>
</body>

</html>