<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RemoteRotator WebUI</title>
  <link rel="css?family=Inconsolata" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div id="app">
    <div class="main-rotator">
      <div id="azimuth-rotator">
        <h3 class="name">{{selectedAzRotator.name}}</h3>
      </div>
      <azimuth-rotator v-on:set-azimuth="setAzimuth" :name="selectedAzRotator.name" :heading="selectedAzRotator.azimuth" :preset="selectedAzRotator.az_preset"
        :enabled="azEnabled" :canvas-size="azCanvasSize">
      </azimuth-rotator>
    </div>
    <div id="mini-rotators" v-if="Object.keys(rotators).length > 1">
      <ul>
        <li v-for="rotator in sortedRotators">
          <div class="mini-rotator">
            <button type='button' class='btn btn-primary btn-sm mini-rotator-btn' v-bind:class="{active : selectedAzRotator.name == rotator.name }"
              v-on:click="setAzRotator(rotator.name) ">{{rotator.name}}</button>
            <div class='mini-rotator-canvas'>
              <azimuth-rotator :name="rotator.name" :heading="rotator.azimuth" :preset="rotator.az_preset" :enabled=true :show-heading=false
              v-on:set-azimuth="setAzimuth" :canvas-size=100></azimuth-rotator>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div id="connection">
      <p id="connected" class="bg-success" v-bind:class="{'hidden': hideConnectionMsg}" v-if="connected">
        <i class="fa fa-check"></i> Connected to Server
      </p>
      <p id="no-connection" class="bg-danger" v-else="connected">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Connecting to Server
      </p>
    </div>
  </div>
  <script src="/static/js/vue.js"></script>
  <script src="/static/js/vue-resource-1.3.4.min.js"></script>
  <script src="/static/js/components/azimuth-rotator.js"></script>
  <script src="/static/js/jquery-2.2.3.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/reconnecting-websocket.js"></script>
  <script src="/static/js/app.js"></script>
</body>

</html>